*,*:after,*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color:#8c52ff ;
}
.container{
  background-color: #fff;
  width: 40%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.338);

}
.time{
  position: relative;
  width: 92%;
  background:#fff;
  left: 4%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
  font-size: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #8c52ff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  padding-top: 50px;
}
.buttons button{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-color: black;
  font-size:15px ;
  color: #8c52ff;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}
